@import url("https://fonts.googleapis.com/css2?family=Lato&family=Vollkorn:wght@400;500&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
body {
  background: #f5f4f4;
}

.content {
  width: 90vw;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-div {
  width: 80%;
  height: 80%;
}

/* landing page */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  font-size: 3em;
  margin: 20px;
}
.search-bar {
  margin: 5px;
}
.submit-button {
  font-size: 1em;
  border: none;
}

/* next page / weather page*/
.showing-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.current-temp-div {
  padding: 10px;
  margin: 10px;
  font-size: 3em;
}
.desc-div {
  margin: 10px;
}
.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.extra {
  margin: 15px;
}
